@{
    ViewBag.Title = "Thank You";
}
<div class="jumbotron">
    <h1>Thank you!</h1>
    <p>
        <button class="btn btn-danger btn-lg">@Html.ActionLink("Back to Home", "Index", "Home")</button>
    </p>
</div>


