@model UserStatisticViewModel

@{
    ViewData["Title"] = "User Statistic";
}

<div class="jumbotron">
    <p class="text-success">First name: @Model.FirstName</p>
    <p class="text-success">Last name: @Model.LastName</p>
    <p class="text-success">Average free time: @Model.AverageFreeTime</p>
</div>
